@import "../../../../styles.scss";

.modal-overlay {
  .modal-content {
  
    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
    .modal-actions {
      margin-top: 1.5em;
      @include flex(_, _);
      flex-direction: row-reverse;
      gap: 10px;
    }
  }
}
