@import "../../../../../styles.scss";

.container {
  @include container();
}

h3 {
  margin-bottom:1.5em ;
  font-size: 2rem;
  font-weight: 500;
}


input[type="submit"] {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  color: $white-text-color;
  background-color: $secondary-yellow;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
