<article class="post">
  <div class="user-section">
    <img [src]="userInfo?.imageUrl" alt="profile picture" />
    <section>
      <h4>{{ userInfo?.username }}</h4>
      <p>{{ post?.createdAt }}</p>
    </section>
  </div>
  <div class="post-content">
    <h3>{{ post?.title }}</h3>
    <p>
      {{ post?.description }}
    </p>
  </div>
  <div class="post-actions" *ngIf="userInfo?.id === loggedUser?.id">
    <button (click)="handleDelete()">delete</button>
    <button>edit</button>
  </div>
</article>
