@import "../../../../styles.scss";

.post {
  margin-top: 3em;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .user-section {
    @include flex(_);
    gap: 30px;
    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    section {
      h4 {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  .post-content {
    margin-top: 1em;
    padding: 0 1rem;
    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
