<article class="post">
  <div class="user-section">
    <img [src]="userInfo?.imageUrl" alt="profile picture" />
    <section>
      <h4>{{ userInfo?.username }}</h4>
      <p>{{ post?.createdAt }}</p>
    </section>
</div>
<form 
[formGroup]="postForm">
<div class="post-content">
    <div class="input-group">
      <label >Title:</label>
      <input type="text" placeholder="Title.." formControlName="title" [disableControl]="idDisabled" />
    </div>
    <div class="input-group">
      <label for="description">Description</label>
      <textarea placeholder="Description.." formControlName="description" [disableControl]="idDisabled"></textarea>
    </div>
</div>
<div class="post-actions" *ngIf="userInfo?.id === loggedUser?.id">
  <button (click)="handleDelete()" type="button">delete</button>
  <button>edit</button>
</div>
</form>

</article>
