<div class="container" *ngIf="group">
  <section class="group-page-header">
    <div>
      <h3>{{ group?.name }}</h3>
      <section>
        <app-button-component [btnType]="'btn-primary'" (onClick)="openCreatePostModal()"
          >add post</app-button-component
        >
        <app-button-component
          [btnType]="'btn-secondary'"
          (onClick)="openDeleteModal()"
          >delete group</app-button-component
        >
      </section>
    </div>
    <p>
      {{ group.description }}
    </p>
  </section>
  <section class="group-posts-container">
    <div *ngIf="posts">
      <app-post *ngFor="let post of posts" [post]="post" (onDelete)="deletePost($event)"></app-post>
    </div>
  </section>
</div>

<div *ngIf="!group" class="no-content">
  <app-preview-component></app-preview-component>
  <app-button-component [btnType]="'btn-primary'"
    ><a
      [ngStyle]="{ color: 'white', 'text-decoration': 'none' }"
      routerLink="create"
      >Create Group</a
    ></app-button-component
  >
</div>

<app-delete-group-modal
  [open]="isOpen"
  (onCancel)="closeDeleteModal()"
  (onDelete)="deleteGroup()"
></app-delete-group-modal>

<app-create-post-modal [open]="isCreatePostModalOpen" (onClose)="closeCreatePostModal()" (onSubmit)="createPost($event)"></app-create-post-modal>


